/* UNIVERSAL */

a {
    cursor: pointer;
}

/* NAV */

nav {
    padding: 1.3rem 0;
    width: 100%;
}

nav ul {
    justify-content: center;
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 1rem;
    font-size: 1.3rem;
    font-family: stolzl,sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* HEADER */

header h1 {
    background-image: url("../img/IMG_5538.jpeg") ;
}